body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: url('/imgs/background.jpeg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'JetBrains Mono', monospace;
}

.layout {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 90vh;
}

.content {
	position: relative;
	background-color: #2224;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

.content > div {
	position: absolute;
}

.station1 {
  background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 5px 5px #333;
	right: 1%;
	top: 0;

}

.imgStation1 {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.station2 {
  background-color: #fff;
	padding: 10px;
	box-shadow: 2px 5px 5px #333;
	border-radius: 10px;
	left: 35%;
	top: 0;
}

.station3 {
  background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 5px 5px #333;
	left: 35%;
	bottom: 0;
}



.station4 {
  background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 5px 5px #333;
	right: 1%;
	bottom: 0;
}

.station5 {
  background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 5px 5px #333;
	top: 35%;
	left: 1%;
}

.led1Calidad {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightRed 1s infinite;
	border: 1px solid #222;
}

.led2Calidad {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightGreen 1s infinite;
	border: 1px solid #222;
}

.led1Ensamblaje {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightRed 1s infinite;
	border: 1px solid #222;
}

.led2Ensamblaje {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightGreen 1s infinite;
	border: 1px solid #222;
}

.led1Procesos {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightRed 1s infinite;
	border: 1px solid #222;
}

.led2Procesos {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightGreen 1s infinite;
	border: 1px solid #222;
}
.led1Mecanizado {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightRed 1s infinite;
	border: 1px solid #222;
}

.led2Mecanizado {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightGreen 1s infinite;
	border: 1px solid #222;
}
.led1Alimentacion {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightRed 1s infinite;
	border: 1px solid #222;
}

.led2Alimentacion {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: lightGreen 1s infinite;
	border: 1px solid #222;
}

@keyframes lightGreen {
	from {
		background-color: #0f0;
	}
	to {
		background-color: f30000;
	}
}

@keyframes lightRed {
	from {
		background-color: #f00;
	}
	to {
		background-color: 00f300;;
	}
}
